.item--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8em;
  row-gap: 3em;
}

.main {
  padding: 2em 6em;
  background: rgb(83, 62, 43);
  height: 100%;
  width: 100%;
}
